body{
    background-color: rgb(158, 153, 153);
}
.wrapper{
    width: 90%;
    height: 100vh;
    background: linear-gradient(315deg, rgb(198, 99, 99), rgb(165, 161, 161));
    margin: 30px auto;
    perspective: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 12%;
    height: 31%;
    position: relative;
    transition: all 0.5s;
    margin: 30px;
    transform-style: preserve-3d;
}
.flip{
    transform: rotateY(180deg);
}
.face, .backface{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face{
    background-color: white;
    overflow: hidden;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(1);
}
.face img{
    height: 90%;
}
.backface{
    background: url(img/картка\ 2.jpg) no-repeat center/cover;
}